// Color Variables
$primary-color: #bf0d3e;
$text-color: #777;
$text-color-dark: #546373;
$body-color: #fff;
$border-color: #ECECEC;
$black: #000;
$white: #fff;
$light: #ECECEC;

// Font Variables
$primary-font: 'Lato', sans-serif;
$icon-font: 'themify';
